/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: rgb(153,0,255);
}

p{
  color: black;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column{
  flex-basis: 50%;
  min-width: 600px;
}
.column img{
  max-width: 100%;
  padding: 50px 0;
}
.column h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.button{
  display: inline-block;
  background-color: rgb(153,0,255);
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.header{
  background: rgb(153,0,225);
background: linear-gradient(0deg, rgba(153,0,225,0.5271358543417367) 0%, rgba(255,255,255,1) 50%);
}

.header .row{
  margin-top: 90px;
}
.categories{
  margin: 70px 0;
}

.column-3{
  flex: 30%
  min-width: 250px
  margin-bottom: 30px;
}

.column-3 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}
.column-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom:50px;
}
.column-4 img{
  width:100%;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  padding-top: 50px;
  line-height: 60px;
  color: black
}

.footer-end {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  padding-top: 50px;
  line-height: 60px;
  color: black
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}
